{% if column.isForeignKey %}
	{% if links %}
	<a href="{{ record.getReferencedRecord(column.getName).getUrl }}">
		{{ attribute(record, column.getName~'FKTITLE') }}
	</a>
	{% else %}
		{{ attribute(record, column.getName~'FKTITLE') }}
	{% endif %}

{% elseif column.is_boolean %}
{% if attribute(record, column.getName) is sameas(true) %}
Yes
{% elseif attribute(record, column.getName) is sameas(false) %}
No
{% else %}
<!-- Null -->
{% endif %}

{% elseif column.getType=='date' %}
{{ attribute(record, column.getName) }}

{% elseif column.getType=='time' %}
{{ attribute(record, column.getName) }}

{% elseif column.getType=='point' %}
{{ attribute(record, column.getName) }}

{% else %}
{{ attribute(record, column.getName) }}

{% endif %}
