{% if not records %}
<p class="alert alert-success">No records found.</p>

{% else %}
<table class='table table-condensed'>
	<thead>
		<tr>
			<th></th>
			{% for column in table.getColumns %}
			<th>
				{{column.getTitle}}

				{% if sortable %}
				<span class="no-break sort-icons">

					{% if table.getOrderBy == column.getName and table.getOrderDir == 'asc' %}
					<span class="dashicons dashicons-arrow-up" title="Sorted ascending"></span>
					{% else %}
					<a href="{{baseurl}}/table/{{table.getName}}?order_by={{column.getName}}&order_dir=asc"
					   class="dashicons dashicons-arrow-up" title="Sort ascending"></a>
					{% endif %}

					{% if table.getOrderBy == column.getName and table.getOrderDir == 'desc'%}
					<span class="dashicons dashicons-arrow-down" title="Sorted descending"></span>
					{% else %}
					<a href="{{baseurl}}/table/{{table.getName}}?order_by={{column.getName}}&order_dir=desc"
					   class="dashicons dashicons-arrow-down" title="Sort descending"></a>
					{% endif %}

				</span>
				{% endif %}

			</th>
			{% endfor %}
		</tr>
	</thead>
	<tbody>
		{% for record in records %}
		<tr>
			<td>
				{% if links and table.isUpdatable %}
				<a href="{{baseurl}}/record/{{table.getName}}/{{record.getPrimaryKey}}?return_to={{return_to}}">Edit</a>
				{% endif %}
			</td>
			{% for column in table.getColumns %}
			<td class="type-{{column.getType()}} {% if column.isForeignKey %}is-foreign-key{% endif %}">
				{% include 'field/view.twig' %}
			</td>
			{% endfor %}
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endif %}
