
digraph ERD {
rankdir=LR
node [shape=none, fontsize=12];
{% for table in selectedTables %}

    {% spaceless %}
        {{table.getName}} [label=<<TABLE CELLBORDER="1" CELLSPACING="0" BORDER="0">
            <TR><TD ALIGN="CENTER"><FONT POINT-SIZE="16"><B>{{table.getTitle}}</B></FONT></TD></TR>
                        {% for column in table.getColumns %}
                <TR>
                    <TD PORT="{{column.getName}}" ALIGN="LEFT">
                        {{column.getTitle}} ({{column.getType}})
                    </TD>
                </TR>
            {% endfor %}
        </TABLE>>]
    {% endspaceless %}

    {% for column in table.getColumns %}
        {% if column.isForeignKey %}
            {{table.getName}}:{{column.getName}} -> {{column.getReferencedTable.getName}}:{{column.getReferencedTable.getPkColumn.getName}};
        {% endif %}
    {% endfor %}

{% endfor %}

}

